* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.align-items-center {
    align-items: center;
}

.justify-content-end {
    justify-content: flex-end;
}


.container {
    width: 80%;
    margin: auto;

}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

#header {
    background-color: rgb(60, 125, 125);

    .logo {
        width: 15%;

        img {
            width: 100%;
        }
    }

    .big-menu {
        width: 85%;

        ul {
            list-style: none;
            li {
                &:last-child {
                    a {
                        border-radius: 8mm;
                        padding: 15px;
                        border: 2px solid red;
                        transition: 0.5s ease-in-out;

                        &:hover {
                            color: black;
                            background-color: pink;
                        }
                    }
                }

                a {
                    padding: 20px 15px;
                    display: block;
                }
            }
        }
    }
}